<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{plantillas/principal :: head}"></head>

<body>
    <nav th:replace="~{plantillas/principal :: nav}"></nav>
    <div th:replace="~{plantillas/principal :: mensajes}"></div>

    <div class="container-fluid py-4 col-9">
        <div class="card bg-light">
            <div class="card-header bg-dark text-white">
                <h3 class="text-white" th:text="${titulo}"></h3>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/libreria/nuevousuario}"
                    class="btn btn-success">Usuario nuevo</a>
                </div>
                <table class="table table-striped table-sm">
                    <tr>
                        <th sec:authorize="hasRole('ROLE_USER')">Id.</th>
                        <th >Nombre Completo</th>
                        <th >Correo</th>
                        <th >Fecha Ingreso</th>
                        <th class="text-center">Activo</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')" colspan="3" class="text-center">Acciones</th>
                    </tr>

                    <tr  th:each="usuario : ${usuarios}">
                        <td sec:authorize="hasRole('ROLE_USER')"><a
                                th:href="@{/libreria/consultarusuario/} + ${usuario.id}"
                                class="btn btn-sm btn-secondary"
                                th:text="${#numbers.formatInteger(usuario.id, 4)}"></a></td>
                        <td th:text="${usuario.nombres + ' '+usuario.apellidos}"></td>
                        <td th:text="${usuario.correoElectronico}"></td>
                        <td th:text="${#dates.format(usuario.fechaIngreso, 'dd/MM/yyyy')}"></td>
                        <td th:text="${(usuario.activo ? 'Si' : 'No')}" class="text-center"></td>

                        <td sec:authorize="hasRole('ROLE_ADMIN')" class="text-center">
                            <a th:href="@{/libreria/nuevoprestamo/} + ${usuario.id}"
                                class="btn btn-sm btn-success">Préstamo</a>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')" class="text-center">
                            <a th:href="@{/libreria/modificarusuario/} + ${usuario.id}"
                                class="btn btn-sm btn-dark">Modificar</a>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')" class="text-center">
                            <a onclick="return confirm('Está seguro ?')"
                                th:href="@{/libreria/eliminarusuario/} + ${usuario.id}"
                                class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                </table>
                <footer class="text-secondary" th:text="'Usuarios en la Base de datos: ' + ${cantidad}"></footer>
                <nav th:replace="~{plantillas/paginador :: pager}"></nav>
            </div>
        </div>
    </div>
    <footer th:replace="~{plantillas/principal :: footer}"></footer>
</body>

</html>